#boton{
    background-color: #7FB33F;
    border-radius: 20px;
    color: white;
    font-size: larger;
}
#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh; /* opcional, para hacer que el contenedor ocupe toda la altura de la ventana */
  }
  

#left{
    
    
    
}

#rigth{
   
}

.texto{
    margin-left: 4rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#parte_2{
    background: #D9D9D9;
}
#parrafo_1{
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
  }